// source: https://coolors.co/fcc797-777da7-7c7f65-143642-603140

$col-primary: #fcc797;
$col-secondary : #777da7;
$col-tertiary : #7c7f65;
$col-dark : #143642;
$col-accent : #9DD9D2;

$col-white: #ffffff;